<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img [src]="usuario.img | imagen" alt="user" />
                <!-- this is blinking heartbit-->
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  {{usuario.nombre}}<i class="fa fa-angle-down"></i></a>
                <div class="dropdown-menu animated flipInY">
                    <!-- text-->
                    <a routerLinkActive="active" routerLink="/perfil" class="dropdown-item"><i class="ti-user"></i> Mi perfil</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a routerLinkActive="active" routerLink="/account-settings" class="dropdown-item"><i class="ti-settings"></i>Configuración</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a (click)="usuarioService.logout()" class="pointer dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                    <!-- text-->
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->


        <nav class="sidebar-nav">
            <li *ngFor="let menu of sidebarService.menu">
                <ul id="sidebarnav">


                    <li *ngFor="let submenu of menu.submenu">
                        <a routerLinkActive="active" routerLink={{submenu.url}} class="button btn-circle btn-block">{{submenu.titulo}}</a>


                    </li>

                </ul>
            </li>
        </nav>





        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->