/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}

.circle-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right;
}

.gray {
    color: gray;
}

#themecolors a {
    cursor: pointer;
}